@media screen and (max-width: 1918px) { 
.navbar-default .navbar-nav > li > a {  
  font-size: 1rem;
  margin-right: 4.875rem;
  margin-top: 1.25rem;  
  text-align: center; 
  color: #000;
  }
}

@media screen and (max-width: 1024px) { 

}


@media screen and (max-width: 768px) { 

}

@media screen and (max-width: 300px) { 

}

@font-face{font-family:"Futura";
src:url("../fonts/Futura/Futura.eot");
src:url("../fonts/Futura/Futura.eot?#iefix") format("embeddededopentype"),
url("../fonts/Futura/Futura.woff2") format("woff2"),
url("../fonts/Futura/Futura-Bold.woff") format("woff"),
url("../fonts/Futura/Futura-Bold.ttf") format("truetype"),
url("../fonts/Futura/Futura-Bold.otf") format("opentype"),
url("../fonts/Futura/Futura-Bold.svg#svgFutura-Bold") format("svg");
font-style:normal;
font-weight:normal;
}
@font-face{font-family:"Avenir-Heavy";
src:url("../fonts/Avenir-Heavy/Avenir-Heavy.eot");
src:url("../fonts/Avenir-Heavy/Avenir-Heavy.eot?#iefix") format("embeddedopentype"),
url("../fonts/Avenir-Heavy/Avenir-Heavy.woff2") format("woff2"),
url("../fonts/Avenir-Heavy/Avenir-Heavy.woff") format("woff"),
url("../fonts/Avenir-Heavy/Avenir-Heavy.ttf") format("truetype"),
url("../fonts/Avenir-Heavy/Avenir-Heavy.otf") format("opentype"),
url("../fonts/Avenir-Heavy/Avenir-Heavy.svg#svgAvenir-Heavy") format("svg");
font-style:normal;
font-weight:normal;
}
@font-face{font-family:"Avenir-Next";
src:url("../fonts/Avenir-Next/Avenir-Next.eot");
src:url("../fonts/Avenir-Next/Avenir-Next.eot?#iefix") format("embeddedopentype"),
url("../fonts/Avenir-Next/Avenir-Next.woff2") format("woff2"),
url("../fonts/Avenir-Next/AvenirNextCyr-Medium.woff") format("woff"),
url("../fonts/Avenir-Next/Avenir-Next.ttf") format("truetype"),
url("../fonts/Avenir-Next/AvenirNextCyr-Medium.otf") format("opentype"),
url("../fonts/Avenir-Next/AvenirNextCyr-Medium.svg#svgAvenirNextCyr-Medium") format("svg");
font-style:normal;
font-weight:normal;
}
@font-face{font-family:"Avenir-Next-Bold";
src:url("../fonts/Avenir-Next-Bold/Avenir-Next-Bold.eot");
src:url("../fonts/Avenir-Next-Bold/Avenir-Next-Bold.eot?#iefix") format("embeddedopentype"),
url("../fonts/Avenir-Next-Bold/Avenir-Next-Bold.woff2") format("woff2"),
url("../fonts/Avenir-Next-Bold/AvenirNext-Bold.woff") format("woff"),
url("../fonts/Avenir-Next-Bold/Avenir-Next-Bold.ttf") format("truetype"),
url("../fonts/Avenir-Next-Bold/AvenirNext-Bold.otf") format("opentype"),
url("../fonts/Avenir-Next-Bold/AvenirNext-Bold.svg#svgAvenirNext-Bold") format("svg");
font-style:normal;
font-weight:normal;
}

@font-face{font-family:"Montserrat-Bold";
src:url("../fonts/Montserrat-Bold/Montserrat-Bold.eot");
src:url("../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format('embeddedopentype'),
url("../fonts/Montserrat-Bold/Montserrat-Bold.woff2") format("woff2"),
url("../fonts/Montserrat-Bold/Montserrat-Bold.woff") format("woff"),
url("../fonts/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype"),
url("../fonts/Montserrat-Bold/Montserrat-Bold.otf") format("opentype"),
url("../fonts/Montserrat-Bold/Montserrat-Bold.svg#svgMontserrat-Bold") format("svg");
font-style:normal;
font-weight:normal;
}
@font-face{font-family:"Montserrat-Light";
src:url("../fonts/Montserrat-Light/Montserrat_Light.eot");
src:url("../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix") format("embeddedopentype"),
url("../fonts/Montserrat-Light/Montserrat-Light.woff2") format("woff2"),
url("../fonts/Montserrat-Light/Montserrat-Light.woff") format("woff"),
url("../fonts/Montserrat-Light/Montserrat-Light.ttf") format("truetype"),
url("../fonts/Montserrat-Light/Montserrat-Light.otf") format("opentype"),
url("../fonts/Montserrat-Light/Montserrat-Light.svg#svgMontserrat-Light") format("svg");
font-style:normal;
font-weight:normal;
}

@font-face{font-family:"Montserrat-Light-Lat";
src:url("../fonts/Montserrat-Light-Lat/Montserrat_Light.eot");
src:url("../fonts/Montserrat-Light-Lat/Montserrat_Light.eot?#iefix") format("embeddedopentype"),
url("../fonts/Montserrat-Light-Lat/Montserrat_Light.woff2") format("woff2"),
url("../fonts/Montserrat-Light-Lat/Montserrat-Light.woff") format("woff"),
url("../fonts/Montserrat-Light-Lat/Montserrat_Light.ttf") format("truetype"),
url("../fonts/Montserrat-Light-Lat/Montserrat-Light.otf") format("opentype"),
url("../fonts/Montserrat-Light-Lat/Montserrat-Light.svg#svgMontserrat-Light") format("svg");
font-style:normal;
font-weight:normal;
}